<%- include("partials/header.ejs") %>

	<div class="container">
		<div class="card">
			<% if (locals.verdict) { %>
				<h2 class="sub-head"><%= answer %></h2>
				<h1 class="header <%= textColor %>"><%= verdict %></h1>
				<h2 class="sub-head">Would you like to answer another one?</h2>
				<div>
					<a href="riddle.ejs"><button class="buttons">YES</button></a>
					&emsp; &ensp;
					<a href="goodbye.ejs"><button class="buttons">NO</button></a>
				</div>
			<% } else { %>  
				<h1 class="header"><%= riddle %></h1>    
				<form action="/submitAnswer" method="post">
						<label for="answer" class="labels">Answer: </label>
						<input type="text" name="answer" class="inputs"><br>
						<input type="submit" value="SUBMIT" class="submit">
				</form>    
			<% } %>
		</div>
	</div>

<%- include("partials/footer.ejs") %>